*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* default variables start */
:root {
   --junglegreen :  #1BA68D;
   --MinionYellow: #E7DA4F;
   --VividTangelo: #E77624;
   --PlochereVermilion: #DF3520;
   --Eminence: #64297B;
   --SpaceCadet: #232555;
   --Red: #ff0000;
   --Black: #000000;
}
.border{
    border: 2px solid white;
}
body{
    background-color: #000000;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    
}

/* default variables end */
.height_navbar{
    height: 15vh;
}

/* navbar start */
.navbar-ul{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: #ffffff;
}
.logo{
    width: 180px;
    height: 8vh;
}
.nav-btn{
    background-color: var(--Red);
    color: #ffffff;
    border: none;
   
}
.font-size{
    font-size: 22px;
}
.nav-btn1{
    background-color: var(--Black);
    color: #ffffff;
    border: 2px solid #ffffff;

 }
 
.Learnmore-btn2{
    background-color:  #0f0f0f;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 35px 10px 35px;
    border-radius: 30px;

 }

 
.order-online-btn2{
    background-color: var(--Red);
    color: #ffffff;
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 30px;

 }
 .text-center{
    text-align: center;
 }
 
 .text-left{
    text-align: left;
 }
 
 .text-right{
    text-align: right;
 }
 
 .text-justify{
    text-align: justify;
 }
 
 .icon{
    display: none;
 }
  
@media(max-width: 970px){
        .items{
            display: none;
        }
        .icon{
            display: block;
            
        }
}    

/* navbar end */

/* main  */
.main-img{
    width: 100%;
}

.card-img{
    width: 206px;
    height: 300px;
    object-fit: cover;
}

.discover-img1{
    width: 676px;
    height: 454px;
   
}
.discover-content{
    width: 673px;
    height: 454px;
    background-color: #0f0f0f;
}


.menu-img1{
    width: 676px;
    height: 454px;
    /* margin: 0%; */
   
}
.menu-content{
    width: 673px;
    height: 454px;
    background-color: #0f0f0f;
    /* margin: 0%; */
}
.deal-card{
    width: 330px;
    height: 225px;
    object-fit: cover;
}

/* responsive */

@media(max-width: 1070px){
    .items{
        display: none;
    }
    .icon{
        display: block;
        
    }
}    



/* utility classes start */
.display-flex{
    display: flex;
    align-items: center;
}
.gap{
    gap: 25px;
}
.wrap{
    flex-wrap: wrap;
}
.justify-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.justify-evenly{
    justify-content: space-evenly;
    justify-content: start;
}
.justify-start{
    justify-content: start;
}
.justify-end{
    justify-content: end;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}
.mt-1{
    margin-top: 5px;
}
.mt-2{
    margin-top: 10px;
}
.mt-3{
    margin-top: 15px;
}
.mt-4{
    margin-top: 20px;
}

.mt-5{
    margin-top: 70px;
}

.mt-6{
    margin-top: 90px;
}

.mb-1{
    margin-bottom: 5px;
}
.mb-2{
    margin-bottom: 10px;
}
.mb-3{
    margin-bottom: 15px;
}
.mb-4{
    margin-bottom: 20px;
}
.ml-1{
    margin-left: 5px;
}
.ml-2{
    margin-left: 10px;
}
.ml-3{
    margin-left: 10px;
}
.ml-4{
    margin-left: 30px;
}

.ml-5{
    margin-left: 350px;
}

.ml-6{
    margin-left: 110px;
}


.ml-7{
    margin-left: 40px;
}


.ml-8{
    margin-left: 140px;
}


.mr-1{
    margin-right: 5px;
}
.mr-2{
    margin-right: 10px;
}
.mr-3{
    margin-right: 15px;
}
.mr-4{
    margin-right: 20px;
}


.mr-5{
    margin-right: 80px;
}

.m-1{
    margin: 5px;
}
.m-2{
    margin: 10px;
}
.m-3{
    margin: 15px;
}
.m-4{
    margin: 20px;
}
.pt-1{
    padding-top: 7px;
}
.pt-2{
    padding-top: 13px;
}
.pt-3{
    padding-top: 18px;
}
.pt-4{
    padding-top: 20px;
}
.pb-1{
    padding-bottom: 5px;
}
.pb-2{
    padding-bottom: 13px;
}
.pb-3{
    padding-bottom: 18px;
}
.pb-4{
    padding-bottom: 20px;
}
.pl-1{
    padding-left: 5px;
}
.pl-2{
    padding-left: 13px;
}
.pl-3{
    padding-left: 25px;
}
.pl-4{
    padding-left: 220px;
}

.pl-5{
    padding-left: 110px;
}

.pl-6{
    padding-left: 145px;
}


.pr-1{
    padding-right: 5px;
}
.pr-2{
    padding-right: 15px;
}
.pr-3{
    padding-right: 25px;
}
.pr-4{
    padding-right: 20px;
}
.p-1{
    padding: 5px;
}
.p-2{
    padding: 10px;
}
.p-3{
    padding: 14px;
}
.p-4{
    padding: 20px;
}
.rounded{
    border-radius: 60px;
}
.text-white{
    color: #ffffff;
}
.text-black{
    color: #000000;
}

/* utility classes end */
 