*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* default variables start */
:root {
   --junglegreen :  #1BA68D;
   --MinionYellow: #E7DA4F;
   --VividTangelo: #E77624;
   --PlochereVermilion: #DF3520;
   --Eminence: #64297B;
   --SpaceCadet: #232555;
   --Red: #ff0000;
   --Black: #000000;
}
.border{
    border: 2px solid white;
}
body{
    background-color: #000000;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    
}

/* default variables end */
.height_navbar{
    height: 15vh;
}

/* navbar start */
.navbar-ul{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: #ffffff;
}
.logo{
    width: 180px;
    height: 8vh;
}
.nav-btn{
    background-color: var(--Red);
    color: #ffffff;
    border: none;
   
}
.font-size{
    font-size: 22px;
}

.font-background{
    background-color: #ff0000;
}
.nav-btn1{
    background-color: var(--Black);
    color: #ffffff;
    border: 2px solid #ffffff;

 }
 
.Learnmore-btn2{
    background-color:  #0f0f0f;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 35px 10px 35px;
    border-radius: 30px;

 }

 
.order-online-btn2{
    background-color: var(--Red);
    color: #ffffff;
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 30px;

 }
 .text-center{
    text-align: center;
 }
 
 .text-left{
    text-align: left;
 }
 
 .text-right{
    text-align: right;
 }
 
 .text-justify{
    text-align: justify;
 }
 
 .icon{
    display: none;
 }

 
.nav-border{
    border: 1px solid #1b1a1a;
    border-left: none;
    border-top: none;
    border-right: none;
}
 

/* navbar end */

/* main  */
.main-img{
    width: 100%;
}

.card-img{
    width: 206px;
    height: 300px;
    object-fit: cover;
}


.card-img1{
    width: 235px;
    height: 250px;
    object-fit: cover;
}


.discover-img1{
    width: 100%;
    height: 555px;
    object-fit: cover;
}

.discover{
    
    height:555px ;
    flex: 50%;
}
.discover-content{
    margin: 0%; 
    flex: 50%;
    height: 555px;
    background-color: #0f0f0f;
}



.menu{
    flex: 50%;
    height:655px ;
} 


.menu-content{
    flex: 50%;
    height: 655px;
    background-color: #0f0f0f;
}
.menu-img1{
    width: 100%;
    /* margin-top: 0%; */
    height: 655px;
    object-fit: cover;
    
   
}

.deal-card{
    width: 350px;
    height: 225px;
    object-fit: cover;
}

/* about us css */
.intro h1{
    margin-top: 25px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
    /* font-weight: lighter; */
}
.intro{
    color: #7e7c7c;
    text-align: center;

}
.intro-paragraph{
    padding-left: 100px;
    padding-right: 100px;
   
}

.restaurant-main{
    padding-left: 100px;
    padding-right: 100px;
    height: max-content;
    /* background-color: #000000; */
}
.restaurant{
    flex: 50%;
    height:355px ;
} 


.restaurant-content{
    flex: 50%;
    height: max-content;
    background-color: #000000;
}
.restaurant-img1{
    width: 100%;
    /* margin-top: 0%; */
    height: max-content;
    /* object-fit: cover; */
    
   
}









/* footer css */
.footer-box{
    
    width: 100%; 
    height: 60vh;
    color: #7e7c7c;
    font-size: 15px;
    /* text-align: justify; */
    /* border: 1px solid white; */
}


.box1{
    
    flex: 25%;
    height: 60vh;
    text-align: center;
    height: max-content;
    

}
 h4{
    margin-top: 15px;
    color: #7e7c7c;
}
.box2{
    margin-top: 40px;
    flex: 25%;
    height: 60vh;
    color: #ffffff;
    text-align: center;
    
}

.box1 a{
    color: #7e7c7c;
}
.box2 a{
    color: #7e7c7c;
}

.box3 a{
    color: #7e7c7c;
}


.box4 a{
    margin-top: 5px;
}


.box3{
    margin-top: 40px;
    flex: 25%;
    height: 60vh;
    text-align: center;

}

.box4{
    margin-top: 40px;
    flex: 25%;
    height: 60vh;
    text-align: center;

}

.logo1{
    /* margin-top: 15px; */
    /* background-color: #0f0f0f; */
    /* width: 230px; */
    height: 8vh;
}


footer{
    background-color: #0f0f0f;
  }

.last-footer{
    background-color: #0f0f0f;
    color: #7e7c7c;
    border: 1px solid #7e7c7c;
    border-left: none;
    border-bottom: none;
    border-right: none;
}
.last-footer-para1{
    padding-left: 80px;
}

.last-footer-para2{
    padding-left: 390px; 
    
}
.foot1{
    width:50%
}

/* responsive */

@media(max-width: 1070px){
    .items{
        display: none;
    }
    .icon{
        display: block;
        
    }
}


@media (max-width: 1300px) {
    .discover-main {
      flex-direction: column;
    }
    .discover-content, .discover{
        flex: none;
        width: 100%;
    }
  }

  
@media (max-width: 1300px) {
    .menu-main {
      flex-direction: column;
    
    }
    .menu-content, .menu{
        flex: none;
        width: 100%;
    }

  }

   
@media (max-width: 1300px) {
    .restaurant-main {
      flex-direction: column;
    
    }
    .restaurant{
        margin-top: 10px;
    }
    .restaurant-content, .restaurant{
        flex: none;
        width: 100%;
    }

  }

  
@media (max-width: 1030px) {
   
    
    .footer-box{
        flex-direction: column;
        height: max-content;
        
    }
    
    .box1, .box2, .box3, .box4{
        flex: none;
        width: 100%;
    }

  }

  
  @media (max-width: 1050px) {
    .last-footer {
      flex-direction: column;
    
    }
    .foot1{
        flex: none;
        width: 100%;
       
    }

  }


/* utility classes start */
.display-flex{
    display: flex;
    align-items: center;
}
.gap{
    gap: 25px;
}
.wrap{
    flex-wrap: wrap;
}
.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.justify-evenly{
    justify-content: space-evenly;
    justify-content: start;
}
.justify-start{
    justify-content: start;
}
.justify-end{
    justify-content: end;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}
.mt-1{
    margin-top: 5px;
}
.mt-2{
    margin-top: 10px;
}
.mt-3{
    margin-top: 15px;
}
.mt-4{
    margin-top: 20px;
}

.mt-5{
    margin-top: 70px;
}

.mt-6{
    margin-top: 90px;
}

.mb-1{
    margin-bottom: 5px;
}
.mb-2{
    margin-bottom: 10px;
}
.mb-3{
    margin-bottom: 15px;
}
.mb-4{
    margin-bottom: 20px;
}
.ml-1{
    margin-left: 5px;
}
.ml-2{
    margin-left: 10px;
}
.ml-3{
    margin-left: 10px;
}
.ml-4{
    margin-left: 30px;
}

.ml-5{
    margin-left: 350px;
}

.ml-6{
    margin-left: 110px;
}


.ml-7{
    margin-left: 40px;
}
.ml-9{
    margin-left: 140px;
}

.ml-10{
    margin-left: 100px;
}

.ml-8{
    margin-left: 120px;
}


.mr-1{
    margin-right: 5px;
}
.mr-2{
    margin-right: 10px;
}
.mr-3{
    margin-right: 15px;
}
.mr-4{
    margin-right: 20px;
}


.mr-5{
    margin-right: 80px;
}

.m-1{
    margin: 5px;
}
.m-2{
    margin: 10px;
}
.m-3{
    margin: 15px;
}
.m-4{
    margin: 20px;
}
.pt-1{
    padding-top: 7px;
}
.pt-2{
    padding-top: 13px;
}
.pt-3{
    padding-top: 18px;
}
.pt-4{
    padding-top: 20px;
}
.pb-1{
    padding-bottom: 5px;
}
.pb-2{
    padding-bottom: 13px;
}
.pb-3{
    padding-bottom: 18px;
}
.pb-4{
    padding-bottom: 20px;
}
.pl-1{
    padding-left: 5px;
}
.pl-2{
    padding-left: 13px;
}
.pl-3{
    padding-left: 25px;
}
.pl-4{
    padding-left: 220px;
}

.pl-5{
    padding-left: 110px;
}

.pl-6{
    padding-left: 145px;
}

.pl-7{
    padding-left: 80px;
}

.pl-8{
    padding-left: 17px;
}


.pr-1{
    padding-right: 5px;
}
.pr-2{
    padding-right: 15px;
}
.pr-3{
    padding-right: 25px;
}
.pr-4{
    padding-right: 20px;
}
.p-1{
    padding: 5px;
}
.p-2{
    padding: 10px;
}
.p-3{
    padding: 14px;
}
.p-4{
    padding: 20px;
}
.rounded{
    border-radius: 60px;
}
.text-white{
    color: #ffffff;
}
.text-black{
    color: #000000;
}

/* utility classes end */
 